<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liber</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div>

  <div class="logo">
    <img src='../../../assets/images/logo.png'>
  </div>

  <div class="title">
    <span>Bem vindo!</span>
  </div>
  
  <ion-card>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="forms">
        
          <div class="input">
            <ion-label>email:</ion-label>
            <ion-input type='email' formControlName="email"></ion-input>
          </div>
          <div class="input">
            <ion-label>password:</ion-label>
            <ion-input type='password' formControlName="password"></ion-input>
          </div>
      
        
      </div>

      <div class="buttonSubmit">
        <ion-button fill="outline;" type='submit' [disabled]="loginForm.invalid">Entrar</ion-button>
      </div>
    </form>

    <div class="register">
      Ainda não possui uma conta? Cadastre-se.
    </div>
  </ion-card>
    

 </div>

</ion-content>
