.slides{
    height: 40%;
    justify-self: center;
}

.slide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bookTitle{
    margin: 0;
    font-size: 0.7em;
    color: #d9ced6;
}

.cardText{
    width: 83px;
}

.bookPrice{
    font-size: 0.65em;
    color: #d9ced6;
    margin: 0;
}

.bookRating{
    font-size: 0.65em;
    color: #d9ced6;
    margin: 0;
    margin-bottom: 5%;
}

.bookQuantitySold{
    font-size: 0.65em;
    color: #d9ced6;
    margin: 0;
    margin-bottom: 5%;
}

.sectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #d9ced6;

}

ion-card{
    margin: 0;
    --background: #4f0000;
}

ion-title{
    color: #d9ced6;
}

ion-content{
    --background: #303437;
}

ion-toolbar{
    --background: #ae8b70;
}

img{
    height: 125px;
    width: 83px;
}