<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liber</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <div class="sectionTitle">Fantasia</div>
      <ion-slides [options]="slideOpts" class="slides">
        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro2.jpg">
            <h4 class="bookTitle">Garoto Mágico</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro3.jpg">
            <h4 class="bookTitle">Garoto Mágico</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro4.jpg">
            <h4 class="bookTitle">Garoto Mágico</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>

        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro8.jpg">
            <h4 class="bookTitle">Os gnomos</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>
          
        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro9.jpg">
            <h4 class="bookTitle">Os gnomos</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>
        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro10.webp">
            <h4 class="bookTitle">Os gnomos</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </div>

    <div>
      <div class="sectionTitle">Investigação</div>
      <ion-slides [options]="slideOpts" class="slides">
        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro5.jpg">
            <h4 class="bookTitle">Velho detetive</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>
        
        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro6.jpg">
            <h4 class="bookTitle">Velho detetive</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>

        <ion-slide class="slide">
          <ion-card>
            <img src="../../../assets/images/livro7.jpeg">
            <h4 class="bookTitle">Velho detetive</h4>
            <h5 class="bookPrice">Preço: $55</h5>
            <h6 class="bookRating">Rating: 4.55</h6>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div>
      <div class="sectionTitle">Melhores Avaliações <ion-icon name="star-outline"></ion-icon></div>
      <ion-slides [options]="slideOpts" class="slides">
        <ion-slide class="slide">
            <ion-card >
              <img src="../../../assets/images/livro5.jpg">
              <div class="cardText">
                <h4 class="bookTitle"></h4>
                <h5 class="bookPrice">Preço: $</h5>
                <h6 class="bookRating">Rating:</h6>
                <h6 class="bookQuantitySold">Qtd Vendida:</h6>
              </div>
            </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div>
      <div class="sectionTitle">Mais Vendidos <ion-icon name="pricetag-outline"></ion-icon></div>
      <ion-slides class="slides" [options]="slideOpts">
        <ion-slide class="slide">
          <ion-card >
            <img src="../../../assets/images/livro9.jpg">
            <div class="cardText">
              <h4 class="bookTitle"></h4>
              <h5 class="bookPrice">Preço: $</h5>
              <h6 class="bookRating">Rating: </h6>
              <h6 class="bookQuantitySold">Qtd Vendida:</h6>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
